
nav.flexbox-element{
    display: flex;
    flex-direction: column;
}

body {
    margin: 25px;
    background: #f8c36d;
}

h1 {
    padding: 10px;
    padding-top: 20px;
    font-size: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    width:fit-content;
    border-radius: 15px;
    
}

h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30pt;
}

li.menu {
    display: inline;
    padding: 10px;
    margin: 5px;
    border: 10px solid rgb(152, 152, 235);
    width: fit-content;
    background: rgb(197, 197, 230);
    border-radius: 15px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a.menu {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

img {
    padding: 20 px;  
    border-radius: 50px;
    max-width: 800px;
    min-width: 300px; /*a phone screen can be as small as 320 px*/
}

#care {
    padding: 40 px; 
    border: 20px solid rgb(152, 152, 235); 
    background-color:rgb(197, 197, 230); 
    width: fit-content;
}

li.logo {
    display: inline;
    margin-right: 5px;
    padding: 5px;
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    width:fit-content;
    border-radius: 15px;
}
span.logo {
    font-style: italic;
    margin-left: 8px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color:rgb(152, 152, 235);
}

#main {
    padding: 20 px; 
    text-align: center;
    margin: auto;
    background: rgb(152, 152, 235);
    color: rgb(255, 255, 255);
    padding: 20px;

}

.table {
    border:1px solid black; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width:fit-content;

}